header, body, footer {
    font-family: "Poppins", sans-serif;
}
main {
    background-color: #f7f7f7;
    padding: 1rem 1rem;
}
figcaption {
    font-weight: bold;
}

.review {
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    margin: 1rem 0;
}
.desc {
    color: #757575;
    font-style: italic;
}
